VITE_SUPABASE_URL=https://cipnzqcpdfunwvhtlhnd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNpcG56cWNwZGZ1bnd2aHRsaG5kIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY1NzA4NDMsImV4cCI6MjA3MjE0Njg0M30.A2s_DhvRh7_g4saWSlv70DJ3ms0iZFvdh9sI1TOt7Rs